.header{
    padding: 24px;
}
.logo a{
    color: rgba(0, 0, 0, 0.571);
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}
.logo img{
    display: flex;

}
.nav ul{
    list-style: none;
}
.nav li{
    margin: 0 24px;
}
.nav li a{
    color: #1f1f1f;
    text-decoration: none;
    font-size: 18px;
}
.nav li a :hover{
    opacity: 0.8;
}
.nav li a{
    font-size: 32px;
}
.banner{
    height: 1000px;
    background: url("./img/pexels-pixabay-47730.jpg");
    background-size: cover;
}
.content-banner{
    text-align: center;
}
.content-banner p{
    margin-bottom: 40px;
}
.content-banner h1{
    font-size: 48px;
    text-decoration: none;
    margin-bottom: 80px;
    letter-spacing: 10px;
}
.btn{
    padding: 8px 32px;
    text-decoration: none;
    color: white;
    background-color: blue;
}
.section-2{
    padding: 80px 0;
}
.section-2 h1{
    text-align: center;
    margin-bottom: 76px;
}
.content{
    padding: 30px 0;
}
.feature{
    height: 285px;
    overflow: hidden;
}
.feature img{
    height: 100%;
}
.content p{
    margin: 16px 0;
}
.section-3 h2{
    text-align: center;
    margin-bottom: 76px;
    font-size: 32px;
}
.content-contact h3{
    font-size: 24px;
}
.content-contact p{
    margin: 8px 0 40px;
    font-size: 16px;
}
.content-contact ul{
    margin-left: 24px;
}
.content-contact li{
    margin: 16px 0;
}
.footer{
    padding: 24px 0;
    color: white;
    background-color: black;
    margin-top: 80px;
    text-align: center;
    font-size: 36px;
}